.prose a {
  @apply transition-all;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: "#";
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
}

.prose a {
  @apply text-current break-words transition-all;
  @apply decoration-gray-400 underline-offset-2 hover:decoration-gray-300;
}

.prose a:has(strong) {
  @apply decoration-yellow-300 decoration-wavy underline-offset-1 hover:decoration-yellow-400;
  @apply dark:decoration-yellow-300/70 dark:hover:decoration-yellow-300/90;
}
